{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Search results</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <h1>
            Search Results
        </h1>
        <ul>
            {% for entry in search_entries %}
                <li> <a href={% url 'view_entry' name=entry %}> {{ entry }}</a> </li>
            {% endfor %}
        </ul>
    </body>